<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lists</title>

        <link rel="stylesheet" href="static/stylesheets/list_main.css" type="text/css">
    </head>    
    <body>

        <header>
            <div id="upper-panel">
                <h1>Your Lists</h1>
                {% include "signout.html" %}
            </div>
            <div>
            {%  set messages = get_flashed_messages() %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            <form 
                id="new-list-form" 
                method="POST" 
                action="{{ url_for('user_lists') }}">
                
                {{ form_new_list.csrf_token() }}
                {{ form_new_list.new_list_input(id="new-list-input", placeholder="new list name") }}
                
                {{ form_new_list.submit(id="new-list-submit") }}
                
            </form>
        </header>
        
        {% set is_hidden = False %}
        {% set is_readonly = True %}

        <main>
            <section class="list-lists">
                <div id="lists">
                    
                    {% if rows is not none %}
                        {% for l in rows %}
                        {% if l[0]|int() == id|int() %}
                            {% set is_hidden = True %}
                            {% set is_readonly = False %}
                        {% endif %}
                            <div class="single-list">
                                    <form class="f" method="POST" action="{{ url_for('user_lists') }}">
                                
                                        <div class="content">
                                        {{ form_list_holder.csrf_token() }}
                                        {{ form_list_holder.list_id(value=l[0]) }}
                                        {% if is_readonly %}
                                        {{ form_list_holder.list_name(
                                            id=l[0],
                                            class="text",
                                            value=l[1],
                                            readonly=True
                                            ) }}
                                        {% else %}
                                        {{ form_list_holder.list_name(
                                            id=l[0],
                                            class="text",
                                            value=l[1]
                                            ) }}
                                        {% endif %}
                                        </div>
                                        <div class="actions">
                                            {{ form_list_holder.delete(class="delete", value="delete") }}
                                            {{ form_list_holder.edit(class="edit", value="edit", hidden=is_hidden) }}
                                            {{ form_list_holder.save(class="save", value="save", hidden=(not is_hidden)) }}
                                            {{ form_list_holder.open(class="open", value="open") }}                                        
                                        </div>
                                    </form>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
        </main>
    </body>
</html>